body{
	  
	
	
	}
	
	#navbarimg{
		position: absolute;
		width:380px;
		height: 200px;
		top:-80px;
		left:20px;

	}
#dp{
	position:absolute;
	width: 200px;
	left: 200px;
	top:200px;
	animation: dpanimate 4s infinite ;
}


#developer,#dreamer,#learner{
	animation: animate 4s infinite;
	animation-direction: reverse;
    
}
#designer{
	animation: animate 4s infinite;
	animation-direction: alternate-reverse;
    
}
#learner{
	animation: animate 4s infinite;
	animation-direction: alternate-reverse;
    
}
.header1{
	color:#fff;
	position: absolute;
	left: 420px;
	top:250px;
}


.description{
	color:#fff;
	position: absolute;
	left: 420px;
	top:330px;
}
.icons a{
	display: inline-block;
	color:cyan;
	padding:0px 10px 0px 10px;
	position:relative;
	left: 420px;
	top:430px;
	font-size:25px;


}
.icons a:hover{
	display: inline-block;
	color:white;
	padding:0px 10px 0px 10px;
	position:relative;
	left: 420px;
	top:430px;
	font-size:25px;
	

}

#footer{
	height: 100px;
	background-color: #222;
}
#footer span{

}
.foot-icons a{
display: inline-block;
	color:cyan;
	padding:0px 10px 0px 10px;
	position:relative;
	left:400px;
	top:20px;
	font-size:25px;
}


.foot-icons a:hover{
display: inline-block;
	color:white;
	padding:0px 10px 0px 10px;
	position:relative;
	left:400px;
	top:20px;
	font-size:25px;
}

.foot-icons span{
	display: inline-block;
	color:white;
	padding:0px 10px 0px 10px;
	position:relative;
	left:150px;
	top:50px;
	font-size:13px;
	font-family:arial;
}



.footer_index span{
	display: inline-block;
	color:white;
	padding:0px 10px 0px 10px;
	position:relative;
	left:450px;
	bottom:-600px;
	font-size:13px;
	font-family:arial;
}



@keyframes animate {
    from {color: red;
    	opacity: 0%;}
    to {color: cyan;}
}

@keyframes dpanimate{
	  0%, 20%, 40%, 60%, 80%, 100% {transform: translateY(0);}
  50% {transform: translateY(-7px);

}













@media only screen and (max-width: 500px) {
   

    #navbarimg{
		position: absolute;
		width:200px;
		height: 150px;
		top:-50px;
		left:-10px;

	}


    #dp{
	position:absolute;
	width: 200px;
	left: 40px;
	
	top:100px;
}

.header1{
	color:#fff;
	position: absolute;
	left: 30px;
	top:350px;
	font-size: 20px
}

.description{
	color:#fff;
	position: absolute;
	left: 30px;
	top:400px;
	font-size:12px; 
}
.icons a{
	display: inline-block;
	color:cyan;
	padding:0px 3px 0px 3px;
	position:relative;
	left:10px;
	top:450px;
	font-size:25px;


}
.icons a:hover{
	display: inline-block;
	color:gray;
	padding:0px 3px 0px 3px;
	position:relative;
	left:10px;
	top:450px;
	font-size:25px;
	

}

.p1{
	color:#fff;
	position: absolute;
	left: 80px;
	top:550px;
	font-size: 20px;

}

.foot-icons a{
display: inline-block;
	color:cyan;
	padding:0px 10px 0px 10px;
	position:relative;
	left:30px;
	top:20px;
	font-size:20px;
}


.foot-icons a:hover{
display: inline-block;
	color:white;
	padding:0px 10px 0px 10px;
	position:relative;
	left:30px;
	top:20px;
	font-size:20px;
}

.foot-icons span{
display: inline-block;
	color:white;
	padding:0px 10px 0px 10px;
	position:relative;
	left:10px;
	top:20px;
	font-size:10px;
}

.footer_index span{
	display: inline-block;
	color:white;
	padding:0px 10px 0px 10px;
	position:relative;
	left:10px;
	bottom:-575px;
	font-size:10px;
	font-family:arial;
}

}




