.theme-bg{
	background:#0A192F;
}
.navbar-dark{
	color:white;
}
.square{
	height:40px;
	width:40px;
	border: 1px solid whitesmoke;
}

.color-cyan{
	color:cyan;
}

.large-heading {
    font-size: clamp(35px, 8vw, 70px);
}

.btn-outline-send-mail{
    color: cyan;
    border-color: cyan;
}
.btn-outline-send-mail:hover{
    color: whitesmoke;
}



.skill-table td{
	width:25%;
}

a{
	color:cyan;
}
a:hover{
	color:white;
}
div.nav-pills>.nav-link{
    border:1px solid gray !important;
		border-top:none !important;
		border-right:none !important;
		border-bottom:none !important;
		background:none !important;
		border-radius:0 !important;

}
div.nav-pills > .active{
    color: cyan !important;
    border:1px solid cyan !important;
		border-top:none !important;
		border-right:none !important;
		border-bottom:none !important;
		background:none !important;
		border-radius:0 !important;
}
.tab-content>.tab-pane.active {
    color: white !important;
    border: none !important;
    background: none !important;
}
.responsibilites ul {
	padding-left:1rem;
}

@media only screen and (max-width: 700px) {
	.pro-image{
		margin-top:20px;
		width:350px;
		position:relative;
		left:10px;
	}
	.about-me-description{
		font-size:12px !important;
	}
}
